//-
//- GLOBAL VARIABLES
//- Every page configured here.
//- Package data is imported at the node level
//- --------------------------

- var path = "./"
- var imgPath = "./imgs/"

- var title = "@huement/ui is an SCSS based, Typography focused, UI Library"
- var metaDesc = "@huement/ui is a concoction containing a stylish SCSS codebase and ES6 Javascript. Additionally it includes numerous design features like automated style-guide, design tokens, and color palette management."
- var metaLogo = "https://huement.github.io/ui/imgs/Logo.png"
- var metaURL = "https://huement.github.io/ui/"

- var superClass = package.codeName || "mojo"
- var prism = false

- var lang = "en.US"
- var stamp = package.version
